
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.navbar-default.transparent {
    background-color: transparent;
}
.slide1, .slide2, .slide3 {
    min-height: 360px;
    background-size: cover;
    background-position: center center;
}
.slide1 {   
    background-image: url('../Images/officeClouds.jpg');
}
.slide2 {
    background-image: url('../Images/safetyBanner.jpg');
}
.slide3 {
    background-image: url('../Images/reportBanner.jpg');
}
/* Carousel Fade Effect */
.carousel.carousel-fade .item {
    -webkit-transition: opacity 2s linear;
    -moz-transition: opacity 2s linear;
    -ms-transition: opacity 2s linear;
    -o-transition: opacity 2s linear;
    transition: opacity 2s linear;
    opacity: .5;
}
.carousel.carousel-fade .active.item {
    opacity: 1;
}
.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
    left: 0;
    z-index: 2;
    opacity: 0;
    filter: alpha(opacity=0);
}
.carousel-overlay {
    position: absolute;
    bottom: 100px;
    right: 0;
    left: 0;
}

.carousel-overlay h1 {
    color:#ff0000;
    text-shadow:#443737 4px 3px 0;
    font-size: 660%;
    text-align: center;
}

.carousel-overlay h2 {
    color:#ffd800;
    text-shadow:#443737 4px 1px 0;
    font-size: 260%;
    text-align: center;
}
